nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}
.nav__ul {
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    height: 10%;
    max-height: 100px;
    z-index: 3;
  }
  
.nav__li {
    display: inline;
}

.nav__li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-decoration: none;
}
.logo{
    max-height: 80px;
}
body {margin:0;}
