.axis {
  max-width: 500px;
  max-height: 500px;
  border: solid 6px black;
  border-radius: 50%;
  --c: 14;
  --cx: 7;
  --cy: 7;
  --dsize: 20;
  --dcolor: red;
  --size: 90%;
  position: relative;
  width: var(--size);
  height: 0;
  padding-top: var(--size);
  box-sizing: border-box;
  aspect-ratio: 1/1;
  background-image:
    linear-gradient(#0000 calc(var(--cy) * 100% / var(--c) - 1px), #0008 0 calc(var(--cy) * 100% / var(--c) + 1px), transparent 0),
    linear-gradient(to right, #0000 calc(var(--cx) * 100% / var(--c) - 1px), #0008 0 calc(var(--cx) * 100% / var(--c) + 1px), transparent 0),
    repeating-linear-gradient(#0002 0 0.5px, #0000 0 calc(100% / var(--c) - 0.5px), #0002 0 calc(100% / var(--c))),
    repeating-linear-gradient(to right, #0002 0 0.5px, #0000 0 calc(100% / var(--c) - 0.5px), #0002 0 calc(100% / var(--c)));
}

.axis.no-overflow {
  overflow: hidden;
}

.dot {
  --translationUnit: 100% / var(--c);
  --translationX: var(--translationUnit) * var(--cx);
  --translationY: var(--translationUnit) * var(--cy);
  /* Vertical is "flipped" in CSS: higher values go down! Do negative! */
  --ya: calc(var(--translationY) - var(--translationUnit) * (var(--y) * 2));
  width: calc(var(--dsize) * 1px);
  height: calc(var(--dsize) * 1px);
  background: var(--dcolor);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc(var(--translationX) + (var(--x) * 2) * var(--translationUnit));
  top: var(--ya);
}

/* Demo functions */
#axis_x-3 {
  --size: 90%;
}

/* demo - display only */
html, body {
  font-family: Helvetica, Arial, sans-serif;
}

article {
  margin: 30px;
}
.container{
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.heart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heart__icon{
  width: 25%;
}

.gyro__x{
  width: 50%;
}
.gyro__y{
  width: 50%;
}
.datatable{
  width: 50%;
  text-align: center;
}
table{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.gyro{
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px ) {
  .container{
    flex-direction: column;
  }
  .datatable{
    width: 100%;
  }
  .gyro{
    width: 100%;
  }
} 
