{% extends "base.html" %}
{%block content%} 

    <div class="container">
        <div class="gyro">
            <div class="">
                <h1>Gyro Data</h1>
                <table>
                    <tr>
                    <th>X</th>
                    <th>Y</th>
                    </tr>
                    <tr>
                        <td>{{ item["device_data"]["xacc"]}}</td>
                        <td>{{ item["device_data"]["yacc"]}}</td>
                    </tr>
                    {% for d in old %}
                    <tr>
                        <td>{{ d['device_data']['xacc'] }}</td>
                        <td>{{ d['device_data']['yacc'] }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="heart">
           <img class="heart__icon" src="{{url_for('.static', filename='heart.png')}}"/>
           <div class="heart__Label"></div>
        </div>
    </div>
{% endblock %}
